
body{
    font-family: 'Poppins', sans-serif !important; 
}

.navbar{
   background-color:  #daac00;
   padding: 20px;
   
}

.nav-item .nav-link{
    color: #fff;
    font-size: 18px;
    
    font-weight: 500;
}
.nav-item .nav-link:hover{

    background-color:#fcc302;
    
}
#logo-menu img{
width: 200px;
}
.form-control {
background-color: #fcc302;
border-radius: 0px;
border: 0px;
box-shadow: none !important;
}
.form-control::placeholder{
    color: #fff;
    font-size: 17px;
}

.d-flex .btn{
    width: 70px;
    height: 50px;
    border: 0px;
    border-radius: 0px;
    background-color: #00bec9;
    color: #fff;
    box-shadow: none !important;
}

#background-Amarelo{
    background-color: #fcc302;
    
  
}
#titulo-menu h1{
    
    font-weight: 600;
    padding-top: 300px;
    color: #fff;
    font-size: 65px;
}
#titulo-menu p {
    
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}
#titulo-menu button{
    margin-top: 40px;
    background-color: #00bec9;
    border-radius: 7px;
    border: 0px;
    width: 180px;
    height: 60px;
    color: #fff;
    
    font-weight: 600;
}
#titulo-menu button:hover{
    transform: scale(1.10);
}
#btn-ourservice{
    background-color: transparent !important;
    border: 3px solid #fff !important;
}
#cachorro-menu{
   padding-top: 200px;
   padding-bottom: 100px;
}

#titulo-sobre h1{
    padding-top: 200px;
    
    font-weight: 1000;
    color: #313243;
    font-size: 50px;
}
#titulo-sobre p{
font-size: 25px;
}

#titulo-sobre button{
    
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    width: 180px;
    height: 60px;
    background-color: #fcc302;
    border: 0;
    border-radius: 7px;
  
}

#video-cao-sobre{
    padding-top: 150px;
    padding-bottom: 200px;
}

.servicos{
    padding-top: 100px;
 
}
.servicos h1 {
    
    font-weight: 800;
    font-size: 50px;
    color: #fff;
}

.servicos p{
    
   font-weight: 400;
    font-size: 30px;
    color: #fff;
}

#titulo-servicos{
    padding-top: 50px;
}
#titulo-servicos h2{
    
    font-weight: 800;
    font-size: 35px;
    color: #fff;
}

#titulo-servicos p{
    
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    padding-bottom: 50px;
}

#otite-video{
    padding-top: 150px;
    padding-bottom: 150px;
}

#otite-titulo h1{
    padding-top: 200px;
    
    font-weight: 600;
    font-size: 45px;
    color: #313243;
}
#otite-titulo p {

    font-weight: 500;
    font-size: 25px;
    color: #313243;
}

#otite-titulo button{
    
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    width: 180px;
    height: 60px;
    background-color: #fcc302;
    border: 0;
    border-radius: 7px;
}

.dogs-venda{
    color: #fff;
    padding-bottom: 50px;
    padding-top: 100px;
}
.dogs-venda h1{
    font-weight: 800;
    font-size: 50px;
}

#compra-dog{
    color: #fff;
}

#compra-dog h1{
    padding-bottom: 100px;
}
#compra-dog h4{
    font-weight: 800;
}

#compra-dog span{
    margin-right: 15px;
    text-decoration: line-through;
}

#compra-dog button{
    margin-top: 40px;
    background-color: #00bec9;
    border-radius: 20px;
    border: 0px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 100px;

}
#titulo-timevet{
    padding-top: 100px;
    color: #fff;
}
#titulo-timevet h1{
    font-weight:bold;
    color: #313243;
    font-size: 50px;
}
#titulo-timevet p {
    color: #313243;
    font-weight: 400;
}
#time-vet h4{
    color: #313243;
    font-weight: 600;
}
#time-vet p{
    color: #313243;
    font-weight: 400;
}
#time-vet button{
    border: none;
    background-color:#fcc302;
    border-radius: 20px;
    margin-right: 5px;
}
#background-registros{
    margin-top: 100px;
    background-image: url(./Assets/Registros.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    

}
#registros img{
    padding-top: 150px;
    width: 50px;
}
#registros h4{
    font-weight: 800;
    color: #fff;
}
#registros p{
    font-size: 20px;
    color: #fff;
}



#recent-post{
    padding-top: 100px;
    color: #313243;
}

#recent-post h1{
    font-size: 50px;
    font-weight:900;
    padding-bottom: 10px;
}
#recent-post p{
    font-size: 20px;
    font-weight: 400;
}

#titulo-post img{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
 #img-meio{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}